/*Estilo para el control de AjaxFileUpload*/

.ajax__fileupload {
    /*border: #444444 solid;*/
    min-height: 150px;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: var(--bs-border-radius-lg) !important;
    overflow: auto;
    padding: 20px 20px;
}

.ajax__fileupload_dropzone {
    min-height: 150px;
    border-style: dotted;
    border-width: 2px;
    border-radius: var(--bs-border-radius-lg) !important;
    line-height: 50px;
    margin-bottom: 2px;
    text-align: center;
}

.ajax__fileupload_selectFileContainer {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

    .ajax__fileupload_selectFileContainer input {
        border: medium none;
        cursor: pointer;
        height: 40px;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        /*width: 200px;*/ /* Modifica el ancho del botón ajustando este valor */
    }

        .ajax__fileupload_selectFileContainer input[type="file"] {
            width: 200px; /* Modifica el ancho del botón de selección de archivos ajustando este valor */
            height: 1000px; /* Modifica la altura del botón de selección de archivos ajustando este valor */
            /* Resto de tus estilos... */
        }



.ajax__fileupload_selectFileButton {
    display: inline-block;
    padding: 1px 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /* -ms-touch-action: manipulation;
            touch-action: manipulation;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-image: none;*/
    border: 1px solid transparent;
    border-radius: var(--bs-border-radius-sm) !important;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

    .ajax__fileupload_selectFileButton:hover {
        background-color: #000000;
        color: #ffffff;
    }

.ajax__fileupload__filestatuscontainer {
    position: relative !important;
    float: right;
    /*position: absolute;
            right: 0;*/
    top: 2px;
    height: 20px;
    line-height: 20px;
}

.ajax__fileupload_topFileStatus {
    position: relative;
    color: rgb(127, 126, 126);
}

.ajax__fileupload_ProgressBarHolder {
    margin-right: 70px;
}

.ajax__fileupload_uploadbutton {
    display: inline-block;
    padding: 1px 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.ajax_fileupload_cancelbutton {
    display: inline-block;
    padding: 1px 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.ajax__fileupload_queueContainer {
    border: #A9A9A9 1px solid;
    clear: both;
    margin-top: 2px;
    padding: 4px;
    position: relative;
}

.ajax__fileupload_progressBar {
    background-color: #CCFFCC;
    padding-left: 4px;
}

.ajax__fileupload_footer {
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
    float: right;
    position: relative;
}

.ajax__fileupload_fileItemInfo {
    margin-bottom: 5px;
    position: relative;
}

    .ajax__fileupload_fileItemInfo .filename {
        font-weight: bold;
    }

    .ajax__fileupload_fileItemInfo .uploadstatus {
        font-style: italic;
    }

    .ajax__fileupload_fileItemInfo .removeButton {
        display: inline-block;
        padding: 1px 2px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .ajax__fileupload_fileItemInfo .uploadedState {
        background-color: #fff;
        color: #060;
    }

    .ajax__fileupload_fileItemInfo .uploadingState {
        background-color: #fff;
        color: #FF9900;
    }

    .ajax__fileupload_fileItemInfo .pendingState {
        background-color: #fff;
        color: #009;
    }

    .ajax__fileupload_fileItemInfo .errorState {
        background-color: #ff0000;
        color: #ffffff;
    }

    .ajax__fileupload_fileItemInfo .cancelledState {
        background-color: #fff;
        color: #900;
    }


    .ajax__fileupload_fileItemInfo div.removeButton {
        position: absolute;
        right: 0;
        top: 0;
    }

.file-upload-container {
    position: relative;
}

.file-upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #999;
    /*pointer-events: none;*/
}


/* Ocultar el texto del control AjaxFileUpload */
.ajax__fileupload_text {
    display: none;
}
